<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Service Auto</title>
</head>
<div th:replace="/fragments/header"></div>


<body>


		<h2>Golden Tulip</h2>
		<p>
			119 sc. 3 Cluj-Napoca <br> Romania 60601
		</p>

	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.6149633752684!2d23.57675331578564!3d46.75277365455881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490dd7ad4379dd%3A0x164f8d3d7cc8565e!2sStrada+Observatorului+119%2C+Cluj-Napoca+400000!5e0!3m2!1sen!2sro!4v1476565150338" width="500" height="300"></iframe>
		
	<div>
		<h3>Telefon : 0756956013</h3>
	</div>
		<h1>Email : CosteaVlad7@Gmail.com</h1>

	<div layout:fragment="content"></div>
</body>
</html>